@media (max-width:1500px) {
    .main-text{
        padding-left: 30px;
        padding-right: 30px;
    }
    
}
@media (max-width:1300px) {
    .main-text{
        padding-left: 50px;
        padding-right: 50px;
    }
    
}

@media (max-width: 1200px) {
    .navbar-text{
        display: none;
    }
    .main {
        flex-direction: column;
        align-items: center; /* centers the boxes horizontally */
    }

    .services {
        height: auto;
        position: relative;
        width: 100%; /* each box takes full width */
        max-width: 600px; /* maximum width to prevent too large on bigger tablets */
    }
    .main-text{
        padding-left: 0%;
        padding-right: 0%;
        height: auto;
        width: 100%; /* each box takes full width */
        max-width: 600px; /* maximum width to prevent too large on bigger tablets */ 
    }
    .ads {
        height: auto;
        position: relative;
        width: 100%; /* each box takes full width */
        max-width: 600px; /* maximum width to prevent too large on bigger tablets */
    }
    .ads1{
        width: auto;
        height: 120px;
        background-color: #E0EFFF;
        margin: 5px;
    }
}